<style>
.approved {
    color: green
}
.pending {
    color: blue
}
.denied {
    color: red
}
table,
td {
    border: 1px solid #333;
}
thead,
tfoot {
    background-color: white;
    color: #fff;
}
</style>
<% if flash.now[:errors] %>
   <h1><%= flash.now[:errors] %><br/></h1>
<% end %>
<%if !current_user.nil?%>
<% if current_user.id == @currentRequest.cat.user.id%>
    <%= form_for cat_cat_rental_request_path, :url => {:controller => :cat_rental_requests, action: :update}, method: "patch" do |f| %>
    <td><%= f.select :status, @validOptions, :selected => "#{@currentRequest.status}" %></td>
    <input name="update" type="submit" value="Save Changes" />
    <% end %>
<% end %>
<% end %>
    

 <table>
    <thead>
        <tr>
            <th class = "<%= @currentStatus %>" colspan="2"><%=@currentRequest.status%></th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td>Cat's Name:</td>
            <td> <%= "#{@currentRequest.cat.name}" %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td>Start Date:</td>
            <td> <%= "#{@currentRequest.start_date.to_formatted_s(:long_ordinal)}" %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td>End Date:</td>
            <td> <%= "#{@currentRequest.end_date.to_formatted_s(:long_ordinal)}" %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td>Requested By:</td>
            <td> <a href="/users/<%=@currentRequest.user_id%>"><%=@currentRequest.user.username%></a> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td>Update:</td>
            <td> <a href="/cats/<%=@currentRequest.cat_id%>/cat_rental_requests/<%=@currentRequest.id%>/edit">Edit Request</a></td>
        </tr>
    </tbody>
</table>
<a href="/cats/<%=@currentRequest.cat_id%>/cat_rental_requests/">Return to Rental Requests</a>
<br>
<a href="/cats/<%=@currentRequest.cat_id%>">View Cat</a>
<br>
<a href="/cats/">Return to all Cats</a>