<style>
table,
td {
    border: 1px solid #333;
}
thead,
tfoot {
    background-color: #333;
    color: #fff;
}
</style>

<h1>Edit <%= @thisCat.name %>'s Info :</h1>


<%= form_for @thisCat do |f| %>
<% method: :patch %>

<table>
    <thead>
        <tr>
            <th colspan="2">Cat Stats</th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td> Name: </td> 
            <td> <%= text_field :newCat, :name, "value" => @thisCat.name %>  </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td> Sex </td> 
            <td>  <table>
    <thead>
        <tr>
            <th colspan="2">Select One</th>
        </tr>
    </thead>
    <% def updateSexChecked%>
    <% if @thisCat.sex == "M"%>
    <% return "checked"%>
    <% elsif @thisCat.sex == "F"%>
    <% return "checked"%>
    <% else%>
    <% return "unchecked"%>
    <% end%>
    <% end%>

    <tbody> 
        <tr>
            <td> Male </td> 
            <td>  <%= radio_button :newCat, :sex, :M, :checked => (@thisCat.sex == "M") %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td> Female </td> 
            <td>  <%= radio_button :newCat, :sex, :F, :checked => (@thisCat.sex == "F") %> </td>
        </tr>
    </tbody>
</table>
</td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td>Color: </td>
            <td><table>
    <thead>
        <tr>
            <th colspan="1">Select One</th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td><%= select :newCat, :color, @valid_colors, :selected => "#{@thisCat.color}" %></td>
        </tr>
    </tbody>
</table>
</td>
        </tr>
    </tbody>
     <tbody> 
        <tr>
            <td> Birthday: </td> 
            <td> <%= date_select :newCat, :birth_date, :selected => @thisCat.birth_date %> </td>
        </tr>
    </tbody>
    <tbody> 
     <tbody> 
        <tr>
            <td> Description: </td> 
            <td> <%= text_area :newCat, :description, "value" => @thisCat.description %></td>
        </tr>
    </tbody>
    <tbody>
</table>

<%= f.submit "Save this Cat's Info" %>
<% end %>






