<style>
table,
td {
    border: 1px solid #333;
}
thead,
tfoot {
    background-color: #333;
    color: #fff;
}
</style>

<h1> Meet <%= @thisCat.name%>! <h1>

<table>
    <thead>
        <tr>
            <th colspan="2"><%= @thisCat.name %>'s Stats </th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td> Name: </td> 
            <td> <%= @thisCat.name %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td> Sex: </td> 
            <td> <%= @thisCat.sex %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td> Age: </td> 
            <td> <%= @thisCat.age %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td> Birthday: </td> 
            <td> <%= @thisCat.birth_date %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td> Color: </td> 
            <td> <%= @thisCat.color %> </td>
        </tr>
    </tbody>
    <tbody> 
        <tr>
            <td> Description: </td> 
            <td> <%= @thisCat.description %> </td>
        </tr>
    </tbody>
</table>

<a href="/cats/<%= @thisCat.id %>/edit">Edit this Cat's Info</a>

<a href="/cats/">Return to all cats</a>