<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if !current_user.nil? %>
  <ul>
    <li>Logged in as: <a href="/users/<%= current_user.id%>"><%= current_user.username %></a></li>
    <li>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <input type="hidden" value="delete" name="_method" />
        <input type="submit" value="Logout" />
      </form>
    </li>
  </ul>
<% end %>
    <%= yield %>
  </body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <a href="/cats">Show All Cats</a>
 <%if current_user.nil? %>
  <a href="/users/new">Create a new user account</a>
  <a href="/session/new">Login</a>
  <%end%>
</html>
